In [11]:
%run dataframe.ipynb

In [12]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, Text

In [13]:
support_ticket_df = pd.DataFrame(columns=['TicketID', 'AccountID', 'ContactID', 'Issue', 'Status', 'Priority', 'DateCreated', 'DateResolved'])
orders_df = pd.DataFrame(columns=['OrderID', 'AccountID', 'OrderDate', 'TotalAmount', 'Status'])
order_details_df = pd.DataFrame(columns=['OrderDetailID', 'OrderID', 'Quantity', 'Price', 'Discount'])

In [14]:
order_details_df

Empty DataFrame
Columns: [OrderDetailID, OrderID, Quantity, Price, Discount]
Index: []

In [15]:
client_df = pd.DataFrame(data=[[generate_license_key(), 'ERP Center, Inc.']], columns=['ClientID', 'Subscriber'])
client_df

               ClientID        Subscriber
0  dce51b2a6c0c4b5781f6  ERP Center, Inc.

In [16]:
orders_df

Empty DataFrame
Columns: [OrderID, AccountID, OrderDate, TotalAmount, Status]
Index: []

In [17]:
support_ticket_df

Empty DataFrame
Columns: [TicketID, AccountID, ContactID, Issue, Status, Priority, DateCreated, DateResolved]
Index: []

In [33]:
# engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@aws-erp.cxugcosgcicf.us-east-2.rds.amazonaws.com:3306/erpcrmdb')

# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer})

# support_ticket_df.to_sql('SupportTickets', con=engine, if_exists='replace', index=False, dtype={'TicketID': Integer, 'AccountID': Integer, 'ContactID': Integer, 
#                             'Issue': Text, 'Status': String(100), 'DateCreated': String(10), 'DateResolved': String(10), 'Priority': String(50)})

# order_details_df.to_sql('OrderDetails', con=engine, if_exists='replace', index=False, dtype={'Quantity': Integer, 'OrderDetailID': Integer,
#                             'OrderID': Integer, 'Price': Integer, 'Discount': Integer})

# orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False, dtype={'OrderID': Integer, 'AccountID': Integer, 'OrderDate': String(10), 
#                             'TotalAmount': Integer, 'Status': String(100)})

# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'Company Revenue (in millions)': Integer, 
#                             'Employee Head Count': Integer})

# client_df.to_sql('Clients', if_exists='replace', con=engine, index=False, dtype={'ClientID': String(20), 'Subscriber': String(50)})

In [34]:
# pd.read_sql('SELECT * FROM Accounts', con=engine)

,AccountID,Company Name,Company Revenue (in millions),Employee Head Count,Company Industry,Company Specialities,Company Type,Company Location Country Name,Company Location City,Company Location Timezone
0,1000,NCH Corporation,6000,8500,Chemicals,"Production Chemicals/Manufacturing, Commercial...",Privately Held,United States,Irving,EST
1,1010,Sammons Financial Group Companies,468,1300,Financial Services,Financial Services,Privately Held,United States,West Des Moines,EST
2,1020,Lexington Medical Center,3800,8000,Hospital & Health Care,"Heart Center, Women's Services, Cancer Center,...",Nonprofit,United States,West Columbia,EST
3,1030,QuikTrip,9200,31000,Retail,None,Privately Held,United States,Tulsa,EST
4,1040,Chargebee,124,1110,Financial Services,"Recurring Billing, Subscription Management, Pa...",Privately Held,United States,San Francisco,EST
...,...,...,...,...,...,...,...,...,...,...
685,7930,The Lane Construction Corporation,2200,5200,Construction,"Public-Private Partnerships, Design-Build, Hea...",Privately Held,United States,Cheshire,EST
686,7940,Prohealth-care,900,4000,Hospitals and Health Care,None,Non Profit,United States,Waukesha,CST
687,7950,Abt Global,800,3000,Research Services,"research, consulting, technical assistance, da...",Privately Held,United States,Rockville,EST
688,7960,BORN,600,1800,IT Services and IT Consulting,"ecommerce, digital, creative, cms, technology,...",Public Company,United States,New York,EST
689,7970,school-board-of-broward-county,9000,31000,Education Administration Programs,None,Educational,United States,Fort Lauderdale,EST