In [107]:
%run dataframe.ipynb

In [108]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, Text, insert, LargeBinary

In [109]:
support_ticket_df = pd.DataFrame(columns=['TicketID', 'AccountID', 'ContactID', 'Issue', 'Status', 'Priority', 'DateCreated', 'DateResolved'])
orders_df = pd.DataFrame(columns=['OrderID', 'AccountID', 'OrderDate', 'TotalAmount', 'Status'])
order_details_df = pd.DataFrame(columns=['OrderDetailID', 'OrderID', 'Quantity', 'Price', 'Discount'])
users_df = pd.DataFrame(columns=['UserID', 'Password', 'ClientID', 'Subscriber', 'ValidFrom', 'ValidTo'])

In [110]:
order_details_df

Empty DataFrame
Columns: [OrderDetailID, OrderID, Quantity, Price, Discount]
Index: []

In [111]:
'3a95d70c85864ab99603'

'3a95d70c85864ab99603'

In [112]:
client_df = pd.DataFrame(columns=['ClientID', 'Subscriber', 'Image']) 
client_df

Empty DataFrame
Columns: [ClientID, Subscriber, Image]
Index: []

In [113]:
orders_df

Empty DataFrame
Columns: [OrderID, AccountID, OrderDate, TotalAmount, Status]
Index: []

In [114]:
support_ticket_df

Empty DataFrame
Columns: [TicketID, AccountID, ContactID, Issue, Status, Priority, DateCreated, DateResolved]
Index: []

In [115]:
with open('flask/static/images/logo.png', 'rb') as file:
    Image = file.read()

In [116]:
engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@aws-erp.cxugcosgcicf.us-east-2.rds.amazonaws.com:3306/erpcrmdb')

# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer})

# support_ticket_df.to_sql('SupportTickets', con=engine, if_exists='replace', index=False, dtype={'TicketID': Integer, 'AccountID': Integer, 'ContactID': Integer, 
#                             'Issue': Text, 'Status': String(100), 'DateCreated': String(10), 'DateResolved': String(10), 'Priority': String(50)})

# order_details_df.to_sql('OrderDetails', con=engine, if_exists='replace', index=False, dtype={'Quantity': Integer, 'OrderDetailID': Integer,
#                             'OrderID': Integer, 'Price': Integer, 'Discount': Integer})

# orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False, dtype={'OrderID': Integer, 'AccountID': Integer, 'OrderDate': String(10), 
#                             'TotalAmount': Integer, 'Status': String(100)})

# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'Company Revenue (in millions)': Integer, 
#                             'Employee Head Count': Integer})

client_df.to_sql('Clients', if_exists='replace', con=engine, index=False, dtype={'ClientID': String(20), 'Subscriber': String(50), 'Image': LargeBinary})

# users_df.to_sql('Users', if_exists='replace', con=engine, index=False, dtype={'UserID': String(50), 'Password': String(50), 'ClientID': String(20), 
#                             'Subscriber': String(50), 'ValidFrom': String(10), 'ValidTo': String(10)})

0

In [117]:
# pd.read_sql('SELECT * FROM Accounts', con=engine)