In [14]:
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text

In [15]:
accounts_path = 'files/Accounts List.csv'
leads_path = 'files/Leads List.csv'
accounts_df = pd.read_csv(accounts_path)
leads_df = pd.read_csv(leads_path)

In [16]:
a_i = accounts_df[accounts_df['Company Name'].isna()].index
accounts_df.loc[a_i, 'Company Name'] = 'Trek Bicycle'

In [17]:
accounts_duplicates = accounts_df[accounts_df['Company Name'].duplicated()]['Company Name']
# accounts_df[accounts_df['Company Name'].isin(accounts_duplicates)].sort_values(by='Company Name', ascending=True).reset_index(drop=True)

In [18]:
accounts_df = accounts_df.rename(columns={' Empoyee Head Count': 'EmployeeHeadCount', 'Company Revenue in millions': 'CompanyRevenue', 'Company Name': 'CompanyName', 'Company Industry': 'CompanyIndustry',
                            'Company Type': 'CompanyType', 'Company Location Country Name': 'Country', 'Company Location City': 'City', 'Company Location Timezone': 'Timezone',
                            'Company Specialities': 'CompanySpecialties'})

In [19]:
accounts_df.to_csv('files/accounts.csv', index=False)

In [20]:
leads_df = pd.read_csv('files/Leads List.csv').drop(columns=[leads_df.columns[5]])
leads_df.to_csv('files/leads.csv', index=False)

In [21]:
df = leads_df
df = df.rename(columns={df.columns[0]: 'CompanyName',
                                df.columns[1]: 'Position',
                                df.columns[2]: 'FirstName',
                                df.columns[3]: 'LastName',
                                df.columns[4]: 'Email'})

df

,CompanyName,Position,FirstName,LastName,Email
0,S&C Electric Company,Chief Information Officer,Bob,King,bob.king@sandc.com
1,S&C Electric Company,Chief Operating Officer,Jim,Johnson,jim@sandc.com
2,S&C Electric Company,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com
3,Bob's Discount Furniture,Chief Information Officer,Adam,Kuta,akuta@mybobs.com
4,Bob's Discount Furniture,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com
...,...,...,...,...,...
1549,Voith Hydro,Technical Director,Pirkle,Mark,NaN
1550,Voith Hydro,Technical manager,Gunnar,Bakken,NaN
1551,TRILUX,Head of Solutions,Kamil,K,NaN
1552,TRILUX,Leiter Group IT,Stefan,Magerstedt,NaN
1553,TRILUX,Chief Technology Officer,Sebastian,Traegner,NaN

In [22]:
engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@erpcrmdb.cfg0ok8iismy.us-west-1.rds.amazonaws.com:3306/erpcrmdb')

In [23]:
query = 'SELECT * FROM Accounts WHERE (ClientID=100000)'
accounts_df = pd.read_sql(text(query), con=engine.connect() )
df = pd.merge(df, accounts_df[['AccountID', 'CompanyName', 'ClientID']], on='CompanyName')

In [24]:
df

,CompanyName,Position,FirstName,LastName,Email,AccountID,ClientID
0,S&C Electric Company,Chief Information Officer,Bob,King,bob.king@sandc.com,1080,100000
1,S&C Electric Company,Chief Operating Officer,Jim,Johnson,jim@sandc.com,1080,100000
2,S&C Electric Company,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com,1080,100000
3,Bob's Discount Furniture,Chief Information Officer,Adam,Kuta,akuta@mybobs.com,1090,100000
4,Bob's Discount Furniture,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com,1090,100000
...,...,...,...,...,...,...,...
1549,Voith Hydro,Technical Director,Pirkle,Mark,NaN,13270,100000
1550,Voith Hydro,Technical manager,Gunnar,Bakken,NaN,13270,100000
1551,TRILUX,Head of Solutions,Kamil,K,NaN,13280,100000
1552,TRILUX,Leiter Group IT,Stefan,Magerstedt,NaN,13280,100000
1553,TRILUX,Chief Technology Officer,Sebastian,Traegner,NaN,13280,100000

In [25]:
pd.read_sql_table('Accounts', con=engine.connect())

,AccountID,CompanyName,CompanyRevenue,EmployeeHeadCount,CompanyIndustry,CompanySpecialties,CompanyType,Country,City,Timezone,ClientID
0,1000,NCH Corporation,6000,8500,Chemicals,"Production Chemicals/Manufacturing, Commercial...",Privately Held,United States,Irving,EST,100000
1,1010,Sammons Financial Group Companies,468,1300,Financial Services,Financial Services,Privately Held,United States,West Des Moines,EST,100000
2,1020,Lexington Medical Center,3800,8000,Hospital & Health Care,"Heart Center, Women's Services, Cancer Center,...",Nonprofit,United States,West Columbia,EST,100000
3,1030,QuikTrip,9200,31000,Retail,None,Privately Held,United States,Tulsa,EST,100000
4,1040,Chargebee,124,1110,Financial Services,"Recurring Billing, Subscription Management, Pa...",Privately Held,United States,San Francisco,EST,100000
...,...,...,...,...,...,...,...,...,...,...,...
1393,14930,JCB,4500,30,Machinery Manufacturing,Construction Equipment Manufacturing,Privately Held,United Kingdom,Rocester,GMT,100000
1394,14940,BAUHAUS Deutschland,8600,77,Retail,None,Public Company,Germany,Mannheim,CET,100000
1395,14950,Bilfinger UK,4000,35,IT Services and IT Consulting,"Oil & Gas, Energy & Power, Pharmaceutical & Ch...",Privately Held,United Kingdom,London,GMT,100000
1396,14960,Innomotics,1500,10,Machinery Manufacturing,"Electric Motors, Low Voltage Motors, High Volt...",Public Company,Germany,Erlangen,CET,100000
1397,14970,Breuninger,3500,22,Retail,"Fashion, Lifestyle, Premium and Luxury , Omnic...",Public Company,Germany,Stuttgart,CET,100000