In [1]:
import os
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
accounts_path = 'files/Accounts List.csv'
leads_path = 'files/Leads List.csv'
accounts_df = pd.read_csv(accounts_path)
leads_df = pd.read_csv(leads_path)

In [3]:
a_i = accounts_df[accounts_df['Company Name'].isna()].index
accounts_df.loc[a_i, 'Company Name'] = 'Trek Bicycle'

In [4]:
accounts_duplicates = accounts_df[accounts_df['Company Name'].duplicated()]['Company Name']
# accounts_df[accounts_df['Company Name'].isin(accounts_duplicates)].sort_values(by='Company Name', ascending=True).reset_index(drop=True)

In [5]:
accounts_df = accounts_df.rename(columns={' Empoyee Head Count': 'EmployeeHeadCount', 'Company Revenue in millions': 'CompanyRevenue', 'Company Name': 'CompanyName', 'Company Industry': 'CompanyIndustry',
                            'Company Type': 'CompanyType', 'Company Location Country Name': 'Country', 'Company Location City': 'City', 'Company Location Timezone': 'Timezone',
                            'Company Specialities': 'CompanySpecialties'})

In [6]:
accounts_df.to_csv('files/accounts.csv', index=False)

In [7]:
leads_df = pd.read_csv('files/Leads List.csv').drop(columns=[leads_df.columns[5]])
leads_df.to_csv('files/leads.csv', index=False)

In [8]:
df = leads_df
df = df.rename(columns={df.columns[0]: 'CompanyName',
                                df.columns[1]: 'Position',
                                df.columns[2]: 'FirstName',
                                df.columns[3]: 'LastName',
                                df.columns[4]: 'Email'})

df

,CompanyName,Position,FirstName,LastName,Email
0,S&C Electric Company,Chief Information Officer,Bob,King,bob.king@sandc.com
1,S&C Electric Company,Chief Operating Officer,Jim,Johnson,jim@sandc.com
2,S&C Electric Company,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com
3,Bob's Discount Furniture,Chief Information Officer,Adam,Kuta,akuta@mybobs.com
4,Bob's Discount Furniture,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com
...,...,...,...,...,...
1549,Voith Hydro,Technical Director,Pirkle,Mark,NaN
1550,Voith Hydro,Technical manager,Gunnar,Bakken,NaN
1551,TRILUX,Head of Solutions,Kamil,K,NaN
1552,TRILUX,Leiter Group IT,Stefan,Magerstedt,NaN
1553,TRILUX,Chief Technology Officer,Sebastian,Traegner,NaN

In [9]:
engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@erpcrmdb.cfg0ok8iismy.us-west-1.rds.amazonaws.com:3306/erpcrmdb')

In [10]:
query = 'SELECT * FROM Accounts WHERE (ClientID=100000)'
accounts_df = pd.read_sql(text(query), con=engine.connect() )
df = pd.merge(df, accounts_df[['AccountID', 'CompanyName', 'ClientID']], on='CompanyName')

In [11]:
df

Empty DataFrame
Columns: [CompanyName, Position, FirstName, LastName, Email, AccountID, ClientID]
Index: []

In [12]:
for index, row in df.iterrows():
            dct = row.to_dict()
            print(dct)