In [2]:
%run dataframe.ipynb

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, Text, insert, LargeBinary, Date

In [4]:
support_ticket_df = pd.DataFrame(columns=['TicketID', 'AccountID', 'ContactID', 'Issue', 'Status', 'Priority', 'DateCreated', 'DateResolved'])
orders_df = pd.DataFrame(columns=['OrderID', 'AccountID', 'OrderDate', 'TotalAmount', 'Status'])
order_details_df = pd.DataFrame(columns=['OrderDetailID', 'OrderID', 'Quantity', 'Price', 'Discount'])
users_df = pd.DataFrame(columns=['UserID', 'Email', 'PasswordHash', 'LicenseKey', 'Subscriber', 'ValidFrom', 'ValidTo'])
opportunities_df = pd.DataFrame(columns=['OpportunityID', 'AccountID', 'LeadID', 'ClientID', 'Opportunity', 'Value', 'Stage', 'CreationDate', 'CloseDate' ])

In [5]:
opportunities_df

Empty DataFrame
Columns: [OpportunityID, AccountID, LeadID, ClientID, Opportunity, Value, Stage, CreationDate, CloseDate]
Index: []

In [6]:
order_details_df

Empty DataFrame
Columns: [OrderDetailID, OrderID, Quantity, Price, Discount]
Index: []

In [7]:
'3a95d70c85864ab99603'

'3a95d70c85864ab99603'

In [8]:
client_df = pd.DataFrame(data=[['0', 'ERP Center, Inc.', '3a95d70c85864ab99603', '/images/3a95d70c85864ab99603.png', '00:00:0000', '00:00:0000']], columns=['ClientID', 'Subscriber', 'License', 'Image', 'ValidFrom', 'ValidTo']) 
client_df

,ClientID,Subscriber,License,Image,ValidFrom,ValidTo
0,0,"ERP Center, Inc.",3a95d70c85864ab99603,/images/3a95d70c85864ab99603.png,00:00:0000,00:00:0000

In [9]:
orders_df

Empty DataFrame
Columns: [OrderID, AccountID, OrderDate, TotalAmount, Status]
Index: []

In [10]:
support_ticket_df

Empty DataFrame
Columns: [TicketID, AccountID, ContactID, Issue, Status, Priority, DateCreated, DateResolved]
Index: []

In [11]:
engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@aws-erp.cxugcosgcicf.us-east-2.rds.amazonaws.com:3306/erpcrmdb')

In [12]:
#  ids = pd.read_sql("SELECT AccountID FROM Accounts", con=engine)
#  ids.empty

In [13]:
# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer})

# support_ticket_df.to_sql('SupportTickets', con=engine, if_exists='replace', index=False, dtype={'TicketID': Integer, 'AccountID': Integer, 'ContactID': Integer, 
#                             'Issue': Text, 'Status': String(100), 'DateCreated': Date, 'DateResolved': Date, 'Priority': String(50)})

# order_details_df.to_sql('OrderDetails', con=engine, if_exists='replace', index=False, dtype={'Quantity': Integer, 'OrderDetailID': Integer,
#                             'OrderID': Integer, 'Price': Integer, 'Discount': Integer})

# orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False, dtype={'OrderID': Integer, 'AccountID': Integer, 'OrderDate': Date, 
#                             'TotalAmount': Integer, 'Status': String(100)})

# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

client_df.to_sql('Clients', if_exists='replace', con=engine, index=False, dtype={'ClientID': Integer, 'Subscriber': String(50), 'License': String(20), 'Image': String(255) 'ValidFrom': Date,
                                                                                 'ValidTo': Date})

# users_df.to_sql('Users', if_exists='replace', con=engine, index=False, dtype={'UserID': Integer, 'Email': String(50), 'PasswordHash': String(255), 'License': String(20), 'Subscriber': String(50), 
#                             'ValidFrom': Date, 'ValidTo': Date})

# opportunities_df.to_sql('Opportunities', if_exists='replace', con=engine, index=False, dtype={'OpportunityID': Integer, 'AccountID': Integer, 'LeadID': Integer, 'ClientID': Integer, 'Opportunity': Text,
#                                                                                               'Value': String(255), 'Stage': String(100), 'CreationDate': Date, 'CloseDate': Date})

1

In [14]:
leads

Empty DataFrame
Columns: [LeadID, AccountID, ClientID, Position, FirstName, LastName, Email, CompanyName, DateCreated, DateModified]
Index: []

In [15]:
# accounts.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

In [16]:
leads.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer, 'ClientID': Integer, 'Position': String(75),
                                                                           'FirstName': String(50), 'LastName': String(50), 'Email': String(50), 'CompanyName': String(100),
                                                                           'DateCreated': Date, 'DateModified': Date})

0

In [17]:
# pd.read_sql('SELECT * FROM Accounts', con=engine)

In [18]:
accounts['AccountID'].empty

True

In [19]:
# for index, row in accounts_df.iterrows():
#     print(row.to_dict())

In [20]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].max()) + 10

In [21]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].iloc[-1]) + 10

In [22]:
generate_license_key()

'556ed5ca44fc47adaa18'