In [1]:
%run dataframe.ipynb

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, Text, insert, LargeBinary, Date

In [3]:
support_ticket_df = pd.DataFrame(columns=['TicketID', 'AccountID', 'ContactID', 'Issue', 'Status', 'Priority', 'DateCreated', 'DateResolved'])
orders_df = pd.DataFrame(columns=['OrderID', 'AccountID', 'OrderDate', 'TotalAmount', 'Status'])
order_details_df = pd.DataFrame(columns=['OrderDetailID', 'OrderID', 'Quantity', 'Price', 'Discount'])
users_df = pd.DataFrame(columns=['UserID', 'Email', 'PasswordHash', 'License', 'Client', 'ValidFrom', 'ValidTo'])
opportunities_df = pd.DataFrame(columns=['OpportunityID', 'AccountID', 'LeadID', 'ClientID', 'Opportunity', 'Value', 'Stage', 'CreationDate', 'CloseDate' ])

In [4]:
opportunities_df

Empty DataFrame
Columns: [OpportunityID, AccountID, LeadID, ClientID, Opportunity, Value, Stage, CreationDate, CloseDate]
Index: []

In [5]:
order_details_df

Empty DataFrame
Columns: [OrderDetailID, OrderID, Quantity, Price, Discount]
Index: []

In [6]:
'3a95d70c85864ab99603'

'3a95d70c85864ab99603'

In [7]:
client_df = pd.DataFrame(data=[['0', 'ERP Center, Inc.', '3a95d70c85864ab99603', '/images/3a95d70c85864ab99603.png', '00:00:0000', '00:00:0000']], columns=['ClientID', 'Client', 'License', 'Image', 'ValidFrom', 'ValidTo']) 
client_df

,ClientID,Client,License,Image,ValidFrom,ValidTo
0,0,"ERP Center, Inc.",3a95d70c85864ab99603,/images/3a95d70c85864ab99603.png,00:00:0000,00:00:0000

In [8]:
orders_df

Empty DataFrame
Columns: [OrderID, AccountID, OrderDate, TotalAmount, Status]
Index: []

In [9]:
support_ticket_df

Empty DataFrame
Columns: [TicketID, AccountID, ContactID, Issue, Status, Priority, DateCreated, DateResolved]
Index: []

In [10]:
engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@erpcrmdb.cfg0ok8iismy.us-west-1.rds.amazonaws.com:3306/erpcrmdb')

In [11]:
#  ids = pd.read_sql("SELECT AccountID FROM Accounts", con=engine)
#  ids.empty

In [12]:
# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer})

# support_ticket_df.to_sql('SupportTickets', con=engine, if_exists='replace', index=False, dtype={'TicketID': Integer, 'AccountID': Integer, 'ContactID': Integer, 
#                             'Issue': Text, 'Status': String(100), 'DateCreated': Date, 'DateResolved': Date, 'Priority': String(50)})

# order_details_df.to_sql('OrderDetails', con=engine, if_exists='replace', index=False, dtype={'Quantity': Integer, 'OrderDetailID': Integer,
#                             'OrderID': Integer, 'Price': Integer, 'Discount': Integer})

# orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False, dtype={'OrderID': Integer, 'AccountID': Integer, 'OrderDate': Date, 
#                             'TotalAmount': Integer, 'Status': String(100)})

# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

# client_df.to_sql('Clients', if_exists='replace', con=engine, index=False, dtype={'ClientID': Integer, 'Client': String(50), 'License': String(20), 'Image': String(255), 'ValidFrom': Date,
#                                                                                  'ValidTo': Date})

# users_df.to_sql('Users', if_exists='replace', con=engine, index=False, dtype={'UserID': Integer, 'Email': String(50), 'PasswordHash': String(255), 'License': String(20), 'Client': String(50), 
#                             'ValidFrom': Date, 'ValidTo': Date})

opportunities_df.to_sql('Opportunities', if_exists='replace', con=engine, index=False, dtype={'OpportunityID': Integer, 'AccountID': Integer, 'LeadID': Integer, 'ClientID': Integer, 'Opportunity': Text,
                                                                                              'Value': String(255), 'Stage': String(100), 'CreationDate': Date, 'CloseDate': Date})

0

In [13]:
leads

Empty DataFrame
Columns: [LeadID, AccountID, ClientID, Position, FirstName, LastName, Email, Unnamed: 5, CompanyName, DateCreated, DateModified]
Index: []

In [14]:
# accounts.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

In [15]:
# pd.read_sql('SELECT * FROM Accounts', con=engine)

In [16]:
accounts['AccountID'].empty

True

In [17]:
# for index, row in accounts_df.iterrows():
#     print(row.to_dict())

In [18]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].max()) + 10

In [19]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].iloc[-1]) + 10

In [20]:
leads

Empty DataFrame
Columns: [LeadID, AccountID, ClientID, Position, FirstName, LastName, Email, Unnamed: 5, CompanyName, DateCreated, DateModified]
Index: []

In [21]:

leads.drop(columns=['Unnamed: 5', 'DateCreated', 'DateModified'], inplace=True)

In [22]:
leads.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer, 'ClientID': Integer, 'Position': String(75),
                                                                           'FirstName': String(50), 'LastName': String(50), 'Email': String(50), 'CompanyName': String(100)})

0

In [23]:
generate_license_key()

'35da9c7d3af1445b981a'

In [24]:
test = leads_df.drop(columns='AccountID')
test

,LeadID,Position,First Name,Last Name,Email,Unnamed: 5,CompanyName
0,100000,Chief Information Officer,Bob,King,bob.king@sandc.com,NaN,S&C Electric Company
1,100010,Chief Operating Officer,Jim,Johnson,jim@sandc.com,NaN,S&C Electric Company
2,100020,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com,NaN,S&C Electric Company
3,100030,Chief Information Officer,Adam,Kuta,akuta@mybobs.com,NaN,Bob's Discount Furniture
4,100040,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com,NaN,Bob's Discount Furniture
...,...,...,...,...,...,...,...
1534,115340,Technical Director,Pirkle,Mark,NaN,NaN,Voith Hydro
1535,115350,Technical manager,Gunnar,Bakken,NaN,NaN,Voith Hydro
1536,115360,Head of Solutions,Kamil,K,NaN,NaN,TRILUX
1537,115370,Leiter Group IT,Stefan,Magerstedt,NaN,NaN,TRILUX
1538,115380,Chief Technology Officer,Sebastian,Traegner,NaN,NaN,TRILUX

In [25]:
a = pd.read_sql_table('Accounts', con=engine.connect())
a

,AccountID,CompanyName,CompanyRevenue,EmployeeHeadCount,CompanyIndustry,CompanySpecialties,CompanyType,Country,City,Timezone,ClientID
0,1000,NCH Corporation,6000,8500,Chemicals,"Production Chemicals/Manufacturing, Commercial...",Privately Held,United States,Irving,EST,100000
1,1010,Sammons Financial Group Companies,468,1300,Financial Services,Financial Services,Privately Held,United States,West Des Moines,EST,100000
2,1020,Lexington Medical Center,3800,8000,Hospital & Health Care,"Heart Center, Women's Services, Cancer Center,...",Nonprofit,United States,West Columbia,EST,100000
3,1030,QuikTrip,9200,31000,Retail,None,Privately Held,United States,Tulsa,EST,100000
4,1040,Chargebee,124,1110,Financial Services,"Recurring Billing, Subscription Management, Pa...",Privately Held,United States,San Francisco,EST,100000
...,...,...,...,...,...,...,...,...,...,...,...
1393,14930,JCB,4500,30,Machinery Manufacturing,Construction Equipment Manufacturing,Privately Held,United Kingdom,Rocester,GMT,100000
1394,14940,BAUHAUS Deutschland,8600,77,Retail,None,Public Company,Germany,Mannheim,CET,100000
1395,14950,Bilfinger UK,4000,35,IT Services and IT Consulting,"Oil & Gas, Energy & Power, Pharmaceutical & Ch...",Privately Held,United Kingdom,London,GMT,100000
1396,14960,Innomotics,1500,10,Machinery Manufacturing,"Electric Motors, Low Voltage Motors, High Volt...",Public Company,Germany,Erlangen,CET,100000
1397,14970,Breuninger,3500,22,Retail,"Fashion, Lifestyle, Premium and Luxury , Omnic...",Public Company,Germany,Stuttgart,CET,100000

In [26]:
clientID = 100000

test = pd.read_sql(text(f'SELECT * FROM Accounts WHERE (ClientID={clientID})'), con=engine.connect())
test

,AccountID,CompanyName,CompanyRevenue,EmployeeHeadCount,CompanyIndustry,CompanySpecialties,CompanyType,Country,City,Timezone,ClientID
0,1000,NCH Corporation,6000,8500,Chemicals,"Production Chemicals/Manufacturing, Commercial...",Privately Held,United States,Irving,EST,100000
1,1010,Sammons Financial Group Companies,468,1300,Financial Services,Financial Services,Privately Held,United States,West Des Moines,EST,100000
2,1020,Lexington Medical Center,3800,8000,Hospital & Health Care,"Heart Center, Women's Services, Cancer Center,...",Nonprofit,United States,West Columbia,EST,100000
3,1030,QuikTrip,9200,31000,Retail,None,Privately Held,United States,Tulsa,EST,100000
4,1040,Chargebee,124,1110,Financial Services,"Recurring Billing, Subscription Management, Pa...",Privately Held,United States,San Francisco,EST,100000
...,...,...,...,...,...,...,...,...,...,...,...
1393,14930,JCB,4500,30,Machinery Manufacturing,Construction Equipment Manufacturing,Privately Held,United Kingdom,Rocester,GMT,100000
1394,14940,BAUHAUS Deutschland,8600,77,Retail,None,Public Company,Germany,Mannheim,CET,100000
1395,14950,Bilfinger UK,4000,35,IT Services and IT Consulting,"Oil & Gas, Energy & Power, Pharmaceutical & Ch...",Privately Held,United Kingdom,London,GMT,100000
1396,14960,Innomotics,1500,10,Machinery Manufacturing,"Electric Motors, Low Voltage Motors, High Volt...",Public Company,Germany,Erlangen,CET,100000
1397,14970,Breuninger,3500,22,Retail,"Fashion, Lifestyle, Premium and Luxury , Omnic...",Public Company,Germany,Stuttgart,CET,100000

In [27]:
import sqlalchemy
query = 'SELECT * FROM Accounts WHERE (ClientID=100000)'
accounts_1 = pd.read_sql(sqlalchemy.text(query), con=engine.connect() )
leads = pd.merge(leads, accounts_df[['AccountID', 'CompanyName', 'ClientID']], on='CompanyName')
leads

KeyError: "['ClientID'] not in index"

In [ ]:
l = leads_df
l = pd.merge(test, a[['AccountID', 'CompanyName']], on='CompanyName')

In [ ]:
l

Empty DataFrame
Columns: [AccountID_x, CompanyRevenue, EmployeeHeadCount, CompanyIndustry, CompanySpecialties, CompanyType, Country, City, Timezone, ClientID, AccountID_y, CompanyName]
Index: []