In [5]:
%run dataframe.ipynb

In [6]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, Text, insert, LargeBinary, Date

In [7]:
support_ticket_df = pd.DataFrame(columns=['TicketID', 'AccountID', 'ContactID', 'Issue', 'Status', 'Priority', 'DateCreated', 'DateResolved'])
orders_df = pd.DataFrame(columns=['OrderID', 'AccountID', 'OrderDate', 'TotalAmount', 'Status'])
order_details_df = pd.DataFrame(columns=['OrderDetailID', 'OrderID', 'Quantity', 'Price', 'Discount'])
users_df = pd.DataFrame(columns=['UserID', 'Email', 'PasswordHash', 'License', 'Client', 'ValidFrom', 'ValidTo'])
opportunities_df = pd.DataFrame(columns=['OpportunityID', 'AccountID', 'LeadID', 'ClientID', 'Opportunity', 'Value', 'Stage', 'CreationDate', 'CloseDate' ])

In [8]:
opportunities_df

Empty DataFrame
Columns: [OpportunityID, AccountID, LeadID, ClientID, Opportunity, Value, Stage, CreationDate, CloseDate]
Index: []

In [9]:
order_details_df

Empty DataFrame
Columns: [OrderDetailID, OrderID, Quantity, Price, Discount]
Index: []

In [10]:
'3a95d70c85864ab99603'

'3a95d70c85864ab99603'

In [11]:
client_df = pd.DataFrame(data=[['0', 'ERP Center, Inc.', '3a95d70c85864ab99603', '/images/3a95d70c85864ab99603.png', '00:00:0000', '00:00:0000']], columns=['ClientID', 'Client', 'License', 'Image', 'ValidFrom', 'ValidTo']) 
client_df

,ClientID,Client,License,Image,ValidFrom,ValidTo
0,0,"ERP Center, Inc.",3a95d70c85864ab99603,/images/3a95d70c85864ab99603.png,00:00:0000,00:00:0000

In [12]:
orders_df

Empty DataFrame
Columns: [OrderID, AccountID, OrderDate, TotalAmount, Status]
Index: []

In [13]:
support_ticket_df

Empty DataFrame
Columns: [TicketID, AccountID, ContactID, Issue, Status, Priority, DateCreated, DateResolved]
Index: []

In [14]:
engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@erpcrmdb.cfg0ok8iismy.us-west-1.rds.amazonaws.com:3306/erpcrmdb')

In [15]:
#  ids = pd.read_sql("SELECT AccountID FROM Accounts", con=engine)
#  ids.empty

In [16]:
# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer})

# support_ticket_df.to_sql('SupportTickets', con=engine, if_exists='replace', index=False, dtype={'TicketID': Integer, 'AccountID': Integer, 'ContactID': Integer, 
#                             'Issue': Text, 'Status': String(100), 'DateCreated': Date, 'DateResolved': Date, 'Priority': String(50)})

# order_details_df.to_sql('OrderDetails', con=engine, if_exists='replace', index=False, dtype={'Quantity': Integer, 'OrderDetailID': Integer,
#                             'OrderID': Integer, 'Price': Integer, 'Discount': Integer})

# orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False, dtype={'OrderID': Integer, 'AccountID': Integer, 'OrderDate': Date, 
#                             'TotalAmount': Integer, 'Status': String(100)})

# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

# client_df.to_sql('Clients', if_exists='replace', con=engine, index=False, dtype={'ClientID': Integer, 'Client': String(50), 'License': String(20), 'Image': String(255), 'ValidFrom': Date,
#                                                                                  'ValidTo': Date})

# users_df.to_sql('Users', if_exists='replace', con=engine, index=False, dtype={'UserID': Integer, 'Email': String(50), 'PasswordHash': String(255), 'License': String(20), 'Client': String(50), 
#                             'ValidFrom': Date, 'ValidTo': Date})

# opportunities_df.to_sql('Opportunities', if_exists='replace', con=engine, index=False, dtype={'OpportunityID': Integer, 'AccountID': Integer, 'LeadID': Integer, 'ClientID': Integer, 'Opportunity': Text,
#                                                                                               'Value': String(255), 'Stage': String(100), 'CreationDate': Date, 'CloseDate': Date})

In [17]:
leads

Empty DataFrame
Columns: [LeadID, AccountID, ClientID, Position, FirstName, LastName, Email, CompanyName, DateCreated, DateModified]
Index: []

In [18]:
# accounts.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

In [19]:
# leads.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer, 'ClientID': Integer, 'Position': String(75),
#                                                                            'FirstName': String(50), 'LastName': String(50), 'Email': String(50), 'CompanyName': String(100),
#                                                                            'DateCreated': Date, 'DateModified': Date})

In [20]:
# pd.read_sql('SELECT * FROM Accounts', con=engine)

In [21]:
accounts['AccountID'].empty

True

In [22]:
# for index, row in accounts_df.iterrows():
#     print(row.to_dict())

In [23]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].max()) + 10

In [24]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].iloc[-1]) + 10

In [25]:
generate_license_key()

'c8deb167a54243f6b0e8'

In [32]:
test = leads_df.drop(columns='AccountID')
test

,LeadID,Position,First Name,Last Name,Email,CompanyName
0,100000,Chief Information Officer,Bob,King,bob.king@sandc.com,S&C Electric Company
1,100010,Chief Operating Officer,Jim,Johnson,jim@sandc.com,S&C Electric Company
2,100020,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com,S&C Electric Company
3,100030,Chief Information Officer,Adam,Kuta,akuta@mybobs.com,Bob's Discount Furniture
4,100040,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com,Bob's Discount Furniture
...,...,...,...,...,...,...
543,105430,"Director, Application Development",Micheal,Carr,michael@kerzner.com,Kerzner International
544,105440,Chief Data Officer,Rizwan,Tufail,rizwan.tufail@purehealth.ae,PureHealth
545,105450,Head Of Information Technology,Oytun,Gürün,oytun.gurun@addresshotels.com,Address Hotels + Resorts
546,105460,Chief Technology Officer,Qais,Amori,qais.amori@almosafer.com,Almosafer
547,105470,Senior Information Technology Manager,Arif,Aijaz,arif.aijaz@taqa.com.sa,TAQA (Industrialization & Energy Services Comp...

In [33]:
a = pd.read_sql_table('Accounts', con=engine.connect())
a

,AccountID,CompanyName,CompanyRevenue,EmployeeHeadCount,CompanyIndustry,CompanySpecialties,CompanyType,Country,City,Timezone,ClientID
0,1000,-X-,3800,12000,Food Production,None,Public Company,United States,None,EST,100000
1,1010,1st Source Bank,300,1150,Banking,"Retail Banking, Private Banking, Business Bank...",Public Company,United States,South Bend,EST,100000
2,1020,AAF International (American Air Filter),800,2000,Renewable Energy Semiconductor Manufacturing,"Clean Air Solutions, Healthcare Filtration Sol...",Privately Held,United States,Louisville,EST,100000
3,1030,AAW Pharma Medical,80,300,Pharmaceutical Manufacturing,None,Privately Held,Kuwait,Kuwait City,AST,100000
4,1040,AFIA,80,200,Food and Beverage Manufacturing,None,Privately Held,Saudi Arabia,Jeddah,AST,100000
...,...,...,...,...,...,...,...,...,...,...,...
1151,12510,eXtra (United Electronics Co.),1100,2000,Retail,"After Sales Services, consumer goods, customer...",Public Company,Saudi Arabia,Al-Khobar,AST,100000
1152,12520,geidea,200,1200,Financial Services,"Point of Sale, payments , applications, Digita...",Privately Held,Saudi Arabia,Riyadh,AST,100000
1153,12530,"pSemi, A Murata Company",300,800,Semiconductor Manufacturing,"RF, Power management , Antenna tuning , Connec...",Privately Held,United States,San Diego,PST,100000
1154,12540,School Board of Broward County,9000,31000,Education Administration Programs,None,Educational,United States,Fort Lauderdale,EST,100000
1155,12550,wheatlandtube,150,600,Industrial Machinery Manufacturing,None,Privately Held,United States,Wheatland,EST,100000

In [34]:
l = leads_df
l = pd.merge(test, a[['AccountID', 'CompanyName']], on='CompanyName')

In [35]:
l

,LeadID,Position,First Name,Last Name,Email,CompanyName,AccountID
0,100000,Chief Information Officer,Bob,King,bob.king@sandc.com,S&C Electric Company,9660
1,100010,Chief Operating Officer,Jim,Johnson,jim@sandc.com,S&C Electric Company,9660
2,100020,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com,S&C Electric Company,9660
3,100030,Chief Information Officer,Adam,Kuta,akuta@mybobs.com,Bob's Discount Furniture,2700
4,100040,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com,Bob's Discount Furniture,2700
...,...,...,...,...,...,...,...
543,105430,"Director, Application Development",Micheal,Carr,michael@kerzner.com,Kerzner International,6830
544,105440,Chief Data Officer,Rizwan,Tufail,rizwan.tufail@purehealth.ae,PureHealth,9150
545,105450,Head Of Information Technology,Oytun,Gürün,oytun.gurun@addresshotels.com,Address Hotels + Resorts,1270
546,105460,Chief Technology Officer,Qais,Amori,qais.amori@almosafer.com,Almosafer,1650
547,105470,Senior Information Technology Manager,Arif,Aijaz,arif.aijaz@taqa.com.sa,TAQA (Industrialization & Energy Services Comp...,10860