In [263]:
%run dataframe.ipynb

In [264]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, Text, insert, LargeBinary, Date

In [265]:
support_ticket_df = pd.DataFrame(columns=['TicketID', 'AccountID', 'ContactID', 'Issue', 'Status', 'Priority', 'DateCreated', 'DateResolved'])
orders_df = pd.DataFrame(columns=['OrderID', 'AccountID', 'OrderDate', 'TotalAmount', 'Status'])
order_details_df = pd.DataFrame(columns=['OrderDetailID', 'OrderID', 'Quantity', 'Price', 'Discount'])
users_df = pd.DataFrame(columns=['UserID', 'Email', 'PasswordHash', 'License', 'Client', 'ValidFrom', 'ValidTo'])
opportunities_df = pd.DataFrame(columns=['OpportunityID', 'AccountID', 'LeadID', 'ClientID', 'Opportunity', 'Value', 'Stage', 'CreationDate', 'CloseDate' ])

In [266]:
opportunities_df

Empty DataFrame
Columns: [OpportunityID, AccountID, LeadID, ClientID, Opportunity, Value, Stage, CreationDate, CloseDate]
Index: []

In [267]:
order_details_df

Empty DataFrame
Columns: [OrderDetailID, OrderID, Quantity, Price, Discount]
Index: []

In [268]:
'3a95d70c85864ab99603'

'3a95d70c85864ab99603'

In [269]:
client_df = pd.DataFrame(data=[['0', 'ERP Center, Inc.', '3a95d70c85864ab99603', '/images/3a95d70c85864ab99603.png', '00:00:0000', '00:00:0000']], columns=['ClientID', 'Client', 'License', 'Image', 'ValidFrom', 'ValidTo']) 
client_df

,ClientID,Client,License,Image,ValidFrom,ValidTo
0,0,"ERP Center, Inc.",3a95d70c85864ab99603,/images/3a95d70c85864ab99603.png,00:00:0000,00:00:0000

In [270]:
orders_df

Empty DataFrame
Columns: [OrderID, AccountID, OrderDate, TotalAmount, Status]
Index: []

In [271]:
support_ticket_df

Empty DataFrame
Columns: [TicketID, AccountID, ContactID, Issue, Status, Priority, DateCreated, DateResolved]
Index: []

In [272]:
engine = create_engine('mysql+pymysql://erpcrm:Erpcrmpass1!@erpcrmdb.cfg0ok8iismy.us-west-1.rds.amazonaws.com:3306/erpcrmdb')

In [273]:
#  ids = pd.read_sql("SELECT AccountID FROM Accounts", con=engine)
#  ids.empty

In [274]:
# leads_df.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer})

# support_ticket_df.to_sql('SupportTickets', con=engine, if_exists='replace', index=False, dtype={'TicketID': Integer, 'AccountID': Integer, 'ContactID': Integer, 
#                             'Issue': Text, 'Status': String(100), 'DateCreated': Date, 'DateResolved': Date, 'Priority': String(50)})

# order_details_df.to_sql('OrderDetails', con=engine, if_exists='replace', index=False, dtype={'Quantity': Integer, 'OrderDetailID': Integer,
#                             'OrderID': Integer, 'Price': Integer, 'Discount': Integer})

# orders_df.to_sql('Orders', con=engine, if_exists='replace', index=False, dtype={'OrderID': Integer, 'AccountID': Integer, 'OrderDate': Date, 
#                             'TotalAmount': Integer, 'Status': String(100)})

# accounts_df.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

# client_df.to_sql('Clients', if_exists='replace', con=engine, index=False, dtype={'ClientID': Integer, 'Client': String(50), 'License': String(20), 'Image': String(255), 'ValidFrom': Date,
#                                                                                  'ValidTo': Date})

# users_df.to_sql('Users', if_exists='replace', con=engine, index=False, dtype={'UserID': Integer, 'Email': String(50), 'PasswordHash': String(255), 'License': String(20), 'Client': String(50), 
#                             'ValidFrom': Date, 'ValidTo': Date})

# opportunities_df.to_sql('Opportunities', if_exists='replace', con=engine, index=False, dtype={'OpportunityID': Integer, 'AccountID': Integer, 'LeadID': Integer, 'ClientID': Integer, 'Opportunity': Text,
#                                                                                               'Value': String(255), 'Stage': String(100), 'CreationDate': Date, 'CloseDate': Date})

In [275]:
leads

Empty DataFrame
Columns: [LeadID, AccountID, ClientID, Position, FirstName, LastName, Email, CompanyName, DateCreated, DateModified]
Index: []

In [276]:
# accounts.to_sql('Accounts', con=engine, if_exists='replace', index=False, dtype={'AccountID': Integer, 'CompanyRevenue': Integer, 
#                             'EmployeeHeadCount': Integer, 'CompanyName': String(100), 'CompanyIndustry': String(100), 'CompanyType': String(50), 'Country': String(50),
#                             'City': String(50), 'Timezone': String(50)})

In [277]:
# leads.to_sql('Leads', con=engine, if_exists='replace', index=False, dtype={'LeadID': Integer, 'AccountID': Integer, 'ClientID': Integer, 'Position': String(75),
#                                                                            'FirstName': String(50), 'LastName': String(50), 'Email': String(50), 'CompanyName': String(100),
#                                                                            'DateCreated': Date, 'DateModified': Date})

In [278]:
# pd.read_sql('SELECT * FROM Accounts', con=engine)

In [279]:
accounts['AccountID'].empty

True

In [280]:
# for index, row in accounts_df.iterrows():
#     print(row.to_dict())

In [281]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].max()) + 10

In [282]:
# %%timeit

# df = pd.read_sql('SELECT AccountID from Accounts', con=engine)
# if ids['AccountID'].empty:
#     next_id = 1000
# else:
#     next_id = (ids['AccountID'].iloc[-1]) + 10

In [283]:
generate_license_key()

'125d4c05e4044915a374'

In [284]:
a = pd.read_sql_table('Accounts', con=engine.connect())

In [286]:
l = leads_df
l = pd.merge(l, a[['AccountID', 'CompanyName']], on='CompanyName')

In [291]:
l

,LeadID,AccountID_x,Position,First Name,Last Name,Email,CompanyName,AccountID_y
0,100000,9700,Chief Information Officer,Bob,King,bob.king@sandc.com,S&C Electric Company,9660
1,100010,9700,Chief Operating Officer,Jim,Johnson,jim@sandc.com,S&C Electric Company,9660
2,100020,9700,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com,S&C Electric Company,9660
3,100030,2700,Chief Information Officer,Adam,Kuta,akuta@mybobs.com,Bob's Discount Furniture,2700
4,100040,2700,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com,Bob's Discount Furniture,2700
...,...,...,...,...,...,...,...,...
543,105430,6860,"Director, Application Development",Micheal,Carr,michael@kerzner.com,Kerzner International,6830
544,105440,9190,Chief Data Officer,Rizwan,Tufail,rizwan.tufail@purehealth.ae,PureHealth,9150
545,105450,1270,Head Of Information Technology,Oytun,Gürün,oytun.gurun@addresshotels.com,Address Hotels + Resorts,1270
546,105460,1650,Chief Technology Officer,Qais,Amori,qais.amori@almosafer.com,Almosafer,1650
547,105470,10920,Senior Information Technology Manager,Arif,Aijaz,arif.aijaz@taqa.com.sa,TAQA (Industrialization & Energy Services Comp...,10860